main{
    background: linear-gradient(321.1deg, #000814 58.68%, #FFD60A 131.08%);
    display: flex;
    justify-content: center;
    align-items: center;}
.formulario{    
    width: 500px;
    height: 536px;
    background: rgba(0, 53, 102, 0.4);
    border: 1px solid #FFBA05;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
margin: 100px;}
#formulario .titulo{
    font-weight: 800;
font-size: 32px;
color: #FFD60A;
font-family: 'inter-E-bold',sans-serif;
margin-bottom: 15px;}
#formulario .texto{
    font-weight: 400;
font-size: 14px;
color:#fff;
font-family: 'inter',sans-serif;}
.main .form{
    display: flex;
    flex-direction: column;
    border: none;}
.label{
    font-weight: 700;
    font-size: 15.4px;
    color: #FFF;
    font-family: 'inter-bold',sans-serif;
    padding: 0 0 4px 0;}
.caixa{
    background: #051933;
    border: 2px solid #2A7AE4;
    border-radius: 7px;
    width: 414px;
    height: 47px;
    margin-bottom: 15px;
    color:#fff;}
.enviar{
    width: 414px;
    height: 50px;
    background: #A3FFBF;
    border-radius: 24px;
    font-weight: 700;
    font-size: 14px;
    font-family: 'inter-bold',sans-serif;
    margin: 50px 0 30px;}
.subtexto{
    font-weight: 400;
    font-size: 14px;
    text-decoration-line: underline;
    color: #FFFFFF;
    font-family: 'inter',sans-serif;}
.main .conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 25px;}
.enviar:hover{
    background-color: #CBFFDB;
    transition: 0.3s;}


    @media screen and (max-width: 450px){
        .formulario{
            width: 95vw;
            height: auto;
            padding-bottom: 25px;
        }
        .label{
            text-align: center;
        }
        .caixa{
            width: 70vw;
        }
        #formulario .titulo{
            width: 70vw;
            text-align: center;
        }
        .enviar{
            width: 60vw;
        }
    }
    .button {
        margin: 40px 0;
        height: 50px;
        width: 200px;
        position: relative;
        background-color: transparent;
        cursor: pointer;
        border: 2px solid #ffc300;
        overflow: hidden;
        border-radius: 30px;
        color: #ffc300;
        transition: all 0.5s ease-in-out;
      }
      
      .btn-txt {
        z-index: 1;
        font-weight: 800;
        letter-spacing: 4px;
      }
      
      .type1::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        transition: all 0.5s ease-in-out;
        background-color: #ffc300;
        border-radius: 30px;
        visibility: hidden;
        height: 10px;
        width: 10px;
        z-index: -1;
      }
      
      .button:hover {
        box-shadow: 1px 1px 200px #ffc300;
        color: #fff;
        border: none;
      }
      
      .type1:hover::after {
        visibility: visible;
        transform: scale(100) translateX(2px);
      }






