@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');

body {
    position: relative;
   
    height: 1450px;

    background: linear-gradient(142.7deg, #929519 -33.35%, #003566 78.59%);
}

.esqueceuSenha {
/* section.signin */


    box-sizing: border-box;

   
    width: 550px;
    height: 420px;
    left: calc(50% - 620px/2);
    top: 378px;

    background: rgba(0, 53, 102, 0.4);
    border: 1px solid #FFBA05;
    border-radius: 6px;
    padding: 50px ;


}

#esqueceu-email{
    margin: 100px;
   display: flex;
   justify-content: center;
}

.titulo_senha {
    width: 376.97px;
    height: 39px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    letter-spacing: -0.5px;

    color: #FFD60A;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.subtitulo {
    width: 430.97px;
    height: 17px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: -0.3px;

    color: #FFFFFF;

    margin-top: 15px;
    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.texto_email {
    width: 200px;
    height: 19px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15.4px;
    line-height: 19px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #FFFFFF;

    margin-top: 60px;
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#Escrever {
    box-sizing: border-box;

    width: 414px;
    height: 42px;
    color: #fff;
    
    background: #051933;
    border: 2px solid #2A7AE4;
    border-radius: 9px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;

    resize: none;
    
    
    font-size: 20px;
    
}



.btn-texto {
    width: 414px;
    height: 50px;

    background: #A3FFBF;
    border-radius: 24px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;

    margin-top: 55px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;

    color: #051932;
}
.btn-texto:hover{
    background: #CBFFDB;
    cursor: pointer;
}



.texto-esqueciEmail {

    margin-top: 30px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;


}
.texto-eM {
    width: 139.4px;
    height: 17px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}


@media screen and (max-width: 850px) {

    

    .esqueceuSenha {
        /* section.signin */
        
        
            box-sizing: border-box;
        
            position: absolute;
            width: 300px;
            height: 370px;
            left: calc(50% - 294px/2);
            top: 450px;
        
            background: rgba(0, 53, 102, 0.4);
            border: 1px solid #FFBA05;
            border-radius: 6px;
            padding: 30px ;
        
        
        }

        .titulo_senha {
            width: 215px;
            height: 39px;
        
            font-family: 'Inter';
            font-style: normal;
            font-weight: 800;
            font-size: 20px;
            line-height: 39px;
            /* identical to box height */
        
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            text-align: center;
            letter-spacing: -0.5px;
        
            color: #FFD60A;
        
        
            /* Inside auto layout */
        
            flex: none;
            order: 0;
            flex-grow: 0;
        }
        

        .subtitulo {
            width: 230px;
            height: 17px;
        
            font-family: Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 17px;
            /* identical to box height */
        
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            text-align: center;
            letter-spacing: -0.3px;
        
            color: #FFFFFF;
        
            margin-top: 15px;
            /* Inside auto layout */
        
            flex: none;
            order: 1;
            flex-grow: 0;
        }
        
        .texto_email {
            width: 150px;
            height: 19px;
        
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 12.4px;
            line-height: 19px;
            /* identical to box height */
        
            display: flex;
            align-items: center;
        
            color: #FFFFFF;
        
            margin-top: 60px;
            /* Inside auto layout */
        
            flex: none;
            order: 0;
            flex-grow: 0;
        }
        
        #Escrever {
            box-sizing: border-box;
        
            width: 240px;
            height: 42px;
            color: #fff;
            
            background: #051933;
            border: 2px solid #2A7AE4;
            border-radius: 9px;
        
            /* Inside auto layout */
        
            flex: none;
            order: 1;
            flex-grow: 0;
        
            resize: none;
            
            
            font-size: 20px;
            
        }
        
        .btn-texto {
            width: 240.5px;
            height: 40px;
        
            background: #A3FFBF;
            border-radius: 24px;
        
            /* Inside auto layout */
        
            flex: none;
            order: 1;
            flex-grow: 0;
        
            margin-top: 55px;
        
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
        
            color: #051932;
        }

        .texto-esqueciEmail {

            margin-top: 30px;
            
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            text-align: center;
        
        
        }
        .texto-eM {
            width: 105px;
            height: 17px;
            margin-left: 8px;
        
            font-family: Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 17px;
            /* identical to box height */
        
            display: flex;
            align-items: center;
            text-align: center;
            text-decoration-line: underline;
        
            color: #FFFFFF;
        
        
            /* Inside auto layout */
        
            flex: none;
            order: 2;
            flex-grow: 0;
        }
    }
